iframe {
  border: 1px solid black;
   
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}








.btn-rounded {
  border-radius: 30px;
}

.btn-outline-custom {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing: 1px;
  transition: all 0.5s;
  font-size: 15px;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom:active,
.btn-outline-custom.active,
.btn-outline-custom.focus,
.btn-outline-custom:active,
.btn-outline-custom:focus,
.btn-outline-custom:hover,
.open > .dropdown-toggle.btn-outline-custom {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #000 !important;
}
